@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;

html, body{
    @apply text-white;
}

:root {
    --primary-font: Poppins, sans-serif;
    --base-font: SFUIText, sans-serif;
    --action: #0D1E2F;
    --primary-40: #2C2D32;
    --primary-35: #323643;
    --primary-30: #595C6D;
    --primary-80: #22232B;
    --primary-90: #18191F;
    --primary-100: #15161B;
    --primary-110: #1C1D23;
    --primary-85: #23242B;
    --primary-070: rgba(21,22,27,0.70);
    --white: #fff;
    --white-20: rgba(255, 255, 255, 0.20);
    --white-30: rgba(255, 255, 255, 0.30);
    --white-50: rgba(255, 255, 255, 0.50);
    --white-6: rgba(255, 255, 255, 0.06);
    --white-5: rgba(255, 255, 255, 0.05);
    --green: #32E76F;
    --green-10: #B4ECC7;
    --green-20: #32DE6C;
    --green-30: #17A446;
    --green-40: #135F2D;
    --green-010: rgba(50, 231, 111, 0.10);
    --red: #FF2929;


    --dp-common-transition: all 0.1s ease-in;
    --dp-menu-padding:1.25rem !important;
    --dp-animation-duration: 0.1s;
    --dp-menu-appear-transition-timing: cubic-bezier(.4, 0, 1, 1);
    --dp-transition-timing: ease-out;
    --dp-action-row-transtion: all 0.2s ease-in;
    --dp-font-family: var(--base-font) !important;
    --dp-border-radius: 0px !important;
    --dp-cell-border-radius: 0px  !important;
    --dp-transition-length: 22px;
    --dp-transition-timing-general: 0.1s;
    --dp-button-height: 36px !important;
    --dp-month-year-row-height: 36px !important;
    --dp-month-year-row-button-size: 25px;
    --dp-button-icon-height: 20px;
    --dp-calendar-wrap-padding: 0 5px;
    --dp-cell-size: 38px !important;
    --dp-cell-padding: 0.5rem !important;
    --dp-common-padding: 10px;
    --dp-input-icon-padding: 35px;
    --dp-input-padding: 6px 30px 6px 12px;
    --dp-menu-min-width: auto !important;
    --dp-action-buttons-padding: 1px 6px;
    --dp-row-margin: 5px 0;
    --dp-calendar-header-cell-padding: 0.5rem;
    --dp-multi-calendars-spacing: 10px;
    --dp-overlay-col-padding: 0.25rem !important;
    --dp-time-inc-dec-button-size: 2rem !important;
    --dp-font-size: 0.875rem !important;
    --dp-preview-font-size: 0.75rem !important;
    --dp-time-font-size: 2rem;
    --dp-action-button-height: 22px;
    --dp-action-row-padding: 8px;

}

@media (prefers-color-scheme: dark) {

}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-transparent;
}
