@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;

html, body{
    @apply text-white;
}

:root {
    --primary-font: Poppins, sans-serif;
    --base-font: SFUIText, sans-serif;
    --action: #0D1E2F;
    --primary-40: #2C2D32;
    --primary-35: #323643;
    --primary-30: #595C6D;
    --primary-80: #22232B;
    --primary-90: #18191F;
    --primary-100: #15161B;
    --primary-85: #23242B;
    --primary-070: rgba(21,22,27,0.70);
    --white: #fff;
    --white-20: rgba(255, 255, 255, 0.20);
    --white-6: rgba(255, 255, 255, 0.06);
    --green: #32E76F;

}

@media (prefers-color-scheme: dark) {

}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-transparent;
}
